<a href="https://colab.research.google.com/github/practigol/trabajo_final/blob/main/crear_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # statistical data visualization
%matplotlib inline

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
import warnings

warnings.filterwarnings('ignore')

# **Creamos el dataset**

In [ ]:
#cargamos el archivo de individuos "usu_individual_T421.csv"

from google.colab import files
uploaded  = files.upload()

Saving usu_individual_T421.csv to usu_individual_T421.csv

In [ ]:
df_individual = pd.read_csv("usu_individual_T421.csv")

In [ ]:
df_individual.shape

(50154, 177)

In [ ]:
# le asignamos un % a cada persona que vive en el hogar según género y edad, en la variable 'AE_ctrol_ind'

condiciones = [
    (df_individual ['CH04'] >= 1) & (df_individual['CH06'] < 1),
    (df_individual['CH04'] >= 1) & (df_individual['CH06'] == 1),
    (df_individual['CH04'] >= 1) & (df_individual['CH06'] == 2),
    (df_individual['CH04'] >= 1) & (df_individual['CH06'] == 3),
    (df_individual['CH04'] >= 1) & (df_individual['CH06'] == 4),
    (df_individual['CH04'] >= 1 ) & ( df_individual['CH06'] == 5),
    (df_individual['CH04'] >= 1) & (df_individual['CH06'] == 6),
    (df_individual['CH04'] >= 1) & (df_individual['CH06'] == 7),
    (df_individual['CH04'] >= 1) & (df_individual['CH06'] == 8),
    (df_individual['CH04'] >= 1) & (df_individual['CH06'] == 9),
    (df_individual['CH04'] >= 1) & (df_individual['CH06'] == 10),
    (df_individual['CH04'] >= 1) & (df_individual['CH06'] == 11),
    (df_individual['CH04'] >= 1) & (df_individual['CH06'] == 12),
    (df_individual['CH04'] == 2) & (df_individual['CH06'] >= 13) & (df_individual['CH06'] <=14),
    (df_individual['CH04'] == 2) & (df_individual['CH06'] >= 15) & (df_individual['CH06'] <=17),
    (df_individual['CH04'] == 2) & (df_individual['CH06'] >= 18) & (df_individual['CH06'] <=29),
    (df_individual['CH04'] == 2) & (df_individual['CH06'] >= 30) & (df_individual['CH06'] <=45),
    (df_individual['CH04'] == 2) & (df_individual['CH06'] >= 46) & (df_individual['CH06'] <=60),
    (df_individual['CH04'] == 2) & (df_individual['CH06'] >= 61) & (df_individual['CH06'] <=75),
    (df_individual['CH04'] == 2) & (df_individual['CH06'] > 75),
    (df_individual['CH04'] == 1) & (df_individual['CH06'] ==10),
    (df_individual['CH04'] == 1) & (df_individual['CH06'] ==11),
    (df_individual['CH04'] == 1) & (df_individual['CH06'] ==12),
    (df_individual['CH04'] == 1) & (df_individual['CH06'] ==13),
    (df_individual['CH04'] == 1) & (df_individual['CH06'] ==14),
    (df_individual['CH04'] == 1) & (df_individual['CH06'] ==15),
    (df_individual['CH04'] == 1) & (df_individual['CH06'] ==16),
    (df_individual['CH04'] == 1) & (df_individual['CH06'] ==17),
    (df_individual['CH04'] == 1) & (df_individual['CH06'] >= 18) & (df_individual['CH06'] <=29),
    (df_individual['CH04'] == 1) & (df_individual['CH06'] >= 30) & (df_individual['CH06'] <=45),
    (df_individual['CH04'] == 1) & (df_individual['CH06'] >= 46) & (df_individual['CH06'] <=60),
    (df_individual['CH04'] == 1) & (df_individual['CH06'] >= 61) & (df_individual['CH06'] <=75),
    (df_individual['CH04'] == 1) & (df_individual['CH06'] > 75)   
    ]

opciones = [0.35,0.37,0.46,0.51,0.55,0.60,0.64,0.66,0.68,0.69,0.70,0.72,0.74,0.76,0.77,0.76,0.77,0.76,0.67,0.63,0.79,0.82,0.85,0.90,
            0.96,1.00,1.03,1.04,1.02,1.00,1.00,0.83,0.74]

In [ ]:
df_individual['AE_ctrol_ind']=np.select(condiciones,opciones)

In [ ]:
df_individual.head()

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,ADECIFR,IPCF,DECCFR,IDECCFR,RDECCFR,GDECCFR,PDECCFR,ADECCFR,PONDIH,AE_ctrol_ind
0,TQRMNOPPQHMOLPCDEGNFJ00714305,2021,4,1,4,1,44,N,17,309,...,7,33500.0,6,7.0,5,NaN,7.0,5,411,0.90
1,TQRMNOQPYHKMPUCDEIJAH00663642,2021,4,1,1,1,1,S,33,1573,...,4,32000.0,6,NaN,6,6.0,NaN,6,2285,0.74
2,TQRMNOQPYHKMPUCDEIJAH00663642,2021,4,1,2,1,1,S,33,1573,...,4,32000.0,6,NaN,6,6.0,NaN,6,2285,0.63
3,TQRMNOQYRHMOQRCDEIJAH00718661,2021,4,1,1,1,1,S,33,2635,...,12,0.0,12,NaN,12,12.0,NaN,12,0,1.00
4,TQRMNOPSTHMMLPCDEFMDB00713515,2021,4,1,2,1,43,N,6,87,...,7,43000.0,7,8.0,8,NaN,8.0,8,129,0.67

In [ ]:
#seleccionamos solo las columnas que nos interesan para este estudio (ver archivo "EPH_registro_4T2021.pdf")

df_personas = df_individual[['CODUSU','NRO_HOGAR','CH03','CH04','CH06','CH08','NIVEL_ED','CAT_OCUP','CAT_INAC','CH11','AE_ctrol_ind']]

In [ ]:
df_personas.head()

,CODUSU,NRO_HOGAR,CH03,CH04,CH06,CH08,NIVEL_ED,CAT_OCUP,CAT_INAC,CH11,AE_ctrol_ind
0,TQRMNOPPQHMOLPCDEGNFJ00714305,1,3,1,13,1,3,0,3,1,0.90
1,TQRMNOQPYHKMPUCDEIJAH00663642,1,1,1,79,1,2,0,1,0,0.74
2,TQRMNOQPYHKMPUCDEIJAH00663642,1,2,2,79,1,3,0,1,0,0.63
3,TQRMNOQYRHMOQRCDEIJAH00718661,1,1,1,48,1,4,3,0,0,1.00
4,TQRMNOPSTHMMLPCDEFMDB00713515,1,2,2,65,1,4,0,1,0,0.67

In [ ]:
df_personas.to_csv('personas.csv')

In [ ]:
#sumamos el % de cada persona que compone el hogar (las variables CODUSU y NRO_HOGAR identifican a cada hogar)

df_suma = df_personas.groupby(['CODUSU','NRO_HOGAR']).AE_ctrol_ind.sum()

In [ ]:
df_suma.head()

CODUSU                         NRO_HOGAR
TQRMNOPPQHJLKTCDEGNFJ00699079  1            1.40
TQRMNOPPQHJMKMCDEFKID00667054  1            1.77
TQRMNOPPQHJMKMCDEOJAH00697751  1            0.63
TQRMNOPPQHJMKTCDEHNHB00686535  1            2.19
TQRMNOPPQHJMLPCDEFNFF00670213  1            1.52
Name: AE_ctrol_ind, dtype: float64

In [ ]:
df_suma.shape

(17037,)

In [ ]:
#unimos los dos dataframes según las variables CODUSU y NRO_HOGAR

df_personas_suma = pd.merge(df_personas, df_suma, on=['CODUSU','NRO_HOGAR'])

In [ ]:
df_personas_suma.head()

,CODUSU,NRO_HOGAR,CH03,CH04,CH06,CH08,NIVEL_ED,CAT_OCUP,CAT_INAC,CH11,AE_ctrol_ind_x,AE_ctrol_ind_y
0,TQRMNOPPQHMOLPCDEGNFJ00714305,1,3,1,13,1,3,0,3,1,0.90,3.35
1,TQRMNOPPQHMOLPCDEGNFJ00714305,1,1,2,37,1,6,3,0,0,0.77,3.35
2,TQRMNOPPQHMOLPCDEGNFJ00714305,1,2,1,37,1,4,3,0,0,1.00,3.35
3,TQRMNOPPQHMOLPCDEGNFJ00714305,1,3,2,8,1,1,0,3,1,0.68,3.35
4,TQRMNOQPYHKMPUCDEIJAH00663642,1,1,1,79,1,2,0,1,0,0.74,1.37

In [ ]:
#renombramos las columnas

df_personas_suma = df_personas_suma.rename(columns={
     'CH03':'parentesco',
     'CH04':'genero',
     'CH06':'edad',
     'CH08':'cob_medica',
     'CH11':'est_pu_pri',
     'AE_ctrol_ind_x':'AE_ctrol_ind',
     'AE_ctrol_ind_y':'AE_ctrol_ind_sum'})

In [ ]:
df_personas_suma.head(2)

,CODUSU,NRO_HOGAR,parentesco,genero,edad,cob_medica,NIVEL_ED,CAT_OCUP,CAT_INAC,est_pu_pri,AE_ctrol_ind,AE_ctrol_ind_sum
0,TQRMNOPPQHMOLPCDEGNFJ00714305,1,3,1,13,1,3,0,3,1,0.90,3.35
1,TQRMNOPPQHMOLPCDEGNFJ00714305,1,1,2,37,1,6,3,0,0,0.77,3.35

In [ ]:
df_personas_suma.shape

(50154, 12)

In [ ]:
df_personas_suma.to_csv('personas_suma_rename.csv')

In [ ]:
df_personas_suma = pd.read_csv("personas_suma_rename.csv")

In [ ]:
#seleccionamos solo los que cumplen la condición de jefes/as de hogar

df_personas_jefes = df_personas_suma.loc[df_personas_suma.loc[:, 'parentesco'] == 1]

In [ ]:
df_personas_jefes.head()

,CODUSU,NRO_HOGAR,parentesco,genero,edad,cob_medica,NIVEL_ED,CAT_OCUP,CAT_INAC,est_pu_pri,AE_ctrol_ind,AE_ctrol_ind_sum
1,TQRMNOPPQHMOLPCDEGNFJ00714305,1,1,2,37,1,6,3,0,0,0.77,3.35
4,TQRMNOQPYHKMPUCDEIJAH00663642,1,1,1,79,1,2,0,1,0,0.74,1.37
6,TQRMNOQYRHMOQRCDEIJAH00718661,1,1,1,48,1,4,3,0,0,1.00,4.24
12,TQRMNOPSTHMMLPCDEFMDB00713515,1,1,1,67,1,5,0,1,0,0.83,1.50
13,TQRMNOQQSHJMKUCDEHJGH00702130,1,1,2,76,1,6,0,1,0,0.63,1.63

In [ ]:
#comprobamos la cantidad de filas

df_personas_jefes.shape

(17037, 12)

In [ ]:
df_personas_jefes.to_csv('personas_jefes.csv')

In [ ]:
#df_personas_jefes = df_personas_jefes.sort_values('CODUSU',ascending=False)

In [ ]:
#df_personas_jefes.head(30)

In [ ]:
#df_personas_jefes.tail(30)

In [ ]:
#cargamos el archivo de hogares "usu_hogar_T421.csv"

from google.colab import files
uploaded  = files.upload()

Saving usu_hogar_T421.csv to usu_hogar_T421.csv

In [ ]:
df_hogares = pd.read_csv("usu_hogar_T421.csv")

In [ ]:
#comprobamos la cantidad de filas

df_hogares.shape

(17037, 88)

In [ ]:
#df_hogares = df_hogares.sort_values('CODUSU',ascending=False)

In [ ]:
#df_hogares.head(30)

In [ ]:
#df_hogares.tail(30)

In [ ]:
#unimos los dos dataframes, que tienen la misma cantidad de filas, según las variables CODUSU y NRO_HOGAR

df_dataset = pd.merge(df_hogares, df_personas_jefes, on=['CODUSU','NRO_HOGAR'])

In [ ]:
#comprobamos la cantidad de filas

df_dataset.shape

(17037, 98)

In [ ]:
df_dataset.head()

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,REALIZADA,REGION,MAS_500,AGLOMERADO,PONDERA,IV1,...,parentesco,genero,edad,cob_medica,NIVEL_ED,CAT_OCUP,CAT_INAC,est_pu_pri,AE_ctrol_ind,AE_ctrol_ind_sum
0,TQRMNOQRPHMOKOCDEOJAH00714382,2021,4,1,1,44,N,93,116,1,...,1,2,38,1,6,3,0,0,0.77,2.10
1,TQRMNOQYUHMMKPCDEOJAH00714383,2021,4,1,1,44,N,93,46,1,...,1,2,64,1,6,0,1,0,0.67,1.44
2,TQRMNOPSWHMMKRCDEOJAH00714384,2021,4,1,1,44,N,93,43,1,...,1,1,72,1,2,0,1,0,0.83,1.50
3,TQRMNOQYSHMNKTCDEOJAH00714386,2021,4,1,1,44,N,93,64,2,...,1,1,38,1,4,3,0,0,1.00,3.13
4,TQRMNOQXVHLLPQCDEIJAH00718674,2021,4,1,1,1,S,33,2822,1,...,1,1,67,1,4,3,0,0,0.83,3.33

In [111]:
#la variable ITF representa el monto de ingreso total familiar
#a este monto lo dividimos por la suma de % de las personas que residen en el hogar para obtener el ingreso por adulto equivalente

df_dataset['adulto_equivalente']= df_dataset.apply(lambda row: row.ITF/row.AE_ctrol_ind_sum, axis=1)

In [112]:
df_dataset['adulto_equivalente']= round(df_dataset['adulto_equivalente'], 0)

In [113]:
df_dataset.head()

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,REALIZADA,REGION,MAS_500,AGLOMERADO,PONDERA,IV1,...,genero,edad,cob_medica,NIVEL_ED,CAT_OCUP,CAT_INAC,est_pu_pri,AE_ctrol_ind,AE_ctrol_ind_sum,adulto_equivalente
0,TQRMNOQRPHMOKOCDEOJAH00714382,2021,4,1,1,44,N,93,116,1,...,2,38,1,6,3,0,0,0.77,2.10,0.0
1,TQRMNOQYUHMMKPCDEOJAH00714383,2021,4,1,1,44,N,93,46,1,...,2,64,1,6,0,1,0,0.67,1.44,0.0
2,TQRMNOPSWHMMKRCDEOJAH00714384,2021,4,1,1,44,N,93,43,1,...,1,72,1,2,0,1,0,0.83,1.50,51667.0
3,TQRMNOQYSHMNKTCDEOJAH00714386,2021,4,1,1,44,N,93,64,2,...,1,38,1,4,3,0,0,1.00,3.13,27157.0
4,TQRMNOQXVHLLPQCDEIJAH00718674,2021,4,1,1,1,S,33,2822,1,...,1,67,1,4,3,0,0,0.83,3.33,29090.0

In [114]:
#creamos la variable objetivo, pobreza

"""
De acuerdo con el archivo "canasta_01_22DEF7D4AE32.pdf", la canasta básica total para un adulto equivalente, para que 
no ingrese en la línea de pobreza, es de $24.643.

Creamos la varibale pobreza, donde todos los hogares que tengan ingresos menores a este valor son pobres. 
"""

df_dataset['pobreza'] = np.where(df_dataset['adulto_equivalente']<24643,1,0)

In [115]:
df_dataset['pobreza'].value_counts()

0    9197
1    7840
Name: pobreza, dtype: int64

In [116]:
df_dataset.head()

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,REALIZADA,REGION,MAS_500,AGLOMERADO,PONDERA,IV1,...,edad,cob_medica,NIVEL_ED,CAT_OCUP,CAT_INAC,est_pu_pri,AE_ctrol_ind,AE_ctrol_ind_sum,adulto_equivalente,pobreza
0,TQRMNOQRPHMOKOCDEOJAH00714382,2021,4,1,1,44,N,93,116,1,...,38,1,6,3,0,0,0.77,2.10,0.0,1
1,TQRMNOQYUHMMKPCDEOJAH00714383,2021,4,1,1,44,N,93,46,1,...,64,1,6,0,1,0,0.67,1.44,0.0,1
2,TQRMNOPSWHMMKRCDEOJAH00714384,2021,4,1,1,44,N,93,43,1,...,72,1,2,0,1,0,0.83,1.50,51667.0,0
3,TQRMNOQYSHMNKTCDEOJAH00714386,2021,4,1,1,44,N,93,64,2,...,38,1,4,3,0,0,1.00,3.13,27157.0,0
4,TQRMNOQXVHLLPQCDEIJAH00718674,2021,4,1,1,1,S,33,2822,1,...,67,1,4,3,0,0,0.83,3.33,29090.0,0

In [117]:
df_dataset.to_csv('dataset.csv')

# **Cleaning**

In [ ]:
col_names = df_dataset.columns

col_names

Index(['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'REALIZADA', 'REGION',
       'MAS_500', 'AGLOMERADO', 'PONDERA', 'IV1', 'IV1_ESP', 'IV2', 'IV3',
       'IV3_ESP', 'IV4', 'IV5', 'IV6', 'IV7', 'IV7_ESP', 'IV8', 'IV9', 'IV10',
       'IV11', 'IV12_1', 'IV12_2', 'IV12_3', 'II1', 'II2', 'II3', 'II3_1',
       'II4_1', 'II4_2', 'II4_3', 'II5', 'II5_1', 'II6', 'II6_1', 'II7',
       'II7_ESP', 'II8', 'II8_ESP', 'II9', 'V1', 'V2', 'V21', 'V22', 'V3',
       'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14',
       'V15', 'V16', 'V17', 'V18', 'V19_A', 'V19_B', 'IX_TOT', 'IX_MEN10',
       'IX_MAYEQ10', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR', 'GDECIFR',
       'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR',
       'PDECCFR', 'ADECCFR', 'PONDIH', 'VII1_1', 'VII1_2', 'VII2_1', 'VII2_2',
       'VII2_3', 'VII2_4', 'parentesco', 'genero', 'edad', 'cob_medica',
       'NIVEL_ED', 'CAT_OCUP', 'CAT_INAC', 'est_pu_pri', 'AE_ctrol_ind',
       'AE_ctrol_ind_sum'],
      dtype='object')

In [ ]:
#la variable ITF representa el monto de ingreso total familiar
#analizamos sus datos

print(round(df_dataset['ITF'].describe()),2)

count      17037.0
mean       68734.0
std        77324.0
min            0.0
25%        22000.0
50%        56000.0
75%        95600.0
max      4035000.0
Name: ITF, dtype: float64 2

In [ ]:
ITF_cero = [x for x in df_dataset['ITF'] if x == 0]
len(ITF_cero)

3582

In [ ]:
#hay 3.582 hogares que declararon ingresos $0. 
#para este estudio no los vamos a tener en cuenta

df_dataset = df_personas_suma.loc[df_personas_suma.loc[:, 'parentesco'] == 1]

In [ ]:
df_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17037 entries, 0 to 17036
Data columns (total 99 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        17037 non-null  int64
 1   CODUSU            17037 non-null  object
 2   ANO4              17037 non-null  int64
 3   TRIMESTRE         17037 non-null  int64
 4   NRO_HOGAR         17037 non-null  int64
 5   REALIZADA         17037 non-null  int64
 6   REGION            17037 non-null  int64
 7   MAS_500           17037 non-null  object
 8   AGLOMERADO        17037 non-null  int64
 9   PONDERA           17037 non-null  int64
 10  IV1               17037 non-null  int64
 11  IV1_ESP           31 non-null     object
 12  IV2               17037 non-null  int64
 13  IV3               17037 non-null  int64
 14  IV3_ESP           33 non-null     object
 15  IV4               17037 non-null  int64
 16  IV5               17037 non-null  int64
 17  IV6               17037 non-null  int64
 18  IV7               17037 non-null  int64
 19  IV7_ESP           19 non-null     object
 20  IV8               17037 non-null  int64
 21  IV9               17037 non-null  int64
 22  IV10              17037 non-null  int64
 23  IV11              17037 non-null  int64
 24  IV12_1            17037 non-null  int64
 25  IV12_2            17037 non-null  int64
 26  IV12_3            17037 non-null  int64
 27  II1               17037 non-null  int64
 28  II2               17037 non-null  int64
 29  II3               17037 non-null  int64
 30  II3_1             17037 non-null  int64
 31  II4_1             17037 non-null  int64
 32  II4_2             17037 non-null  int64
 33  II4_3             17037 non-null  int64
 34  II5               17037 non-null  int64
 35  II5_1             17037 non-null  int64
 36  II6               17037 non-null  int64
 37  II6_1             17037 non-null  int64
 38  II7               17037 non-null  int64
 39  II7_ESP           27 non-null     object
 40  II8               17037 non-null  int64
 41  II8_ESP           139 non-null    object
 42  II9               17037 non-null  int64
 43  V1                17037 non-null  int64
 44  V2                17037 non-null  int64
 45  V21               17037 non-null  int64
 46  V22               17037 non-null  int64
 47  V3                17037 non-null  int64
 48  V4                17037 non-null  int64
 49  V5                17037 non-null  int64
 50  V6                17037 non-null  int64
 51  V7                17037 non-null  int64
 52  V8                17037 non-null  int64
 53  V9                17037 non-null  int64
 54  V10               17037 non-null  int64
 55  V11               17037 non-null  int64
 56  V12               17037 non-null  int64
 57  V13               17037 non-null  int64
 58  V14               17037 non-null  int64
 59  V15               17037 non-null  int64
 60  V16               17037 non-null  int64
 61  V17               17037 non-null  int64
 62  V18               17037 non-null  int64
 63  V19_A             17037 non-null  int64
 64  V19_B             17037 non-null  int64
 65  IX_TOT            17037 non-null  int64
 66  IX_MEN10          17037 non-null  int64
 67  IX_MAYEQ10        17037 non-null  int64
 68  ITF               17037 non-null  int64
 69  DECIFR            17037 non-null  int64
 70  IDECIFR           14664 non-null  float64
 71  RDECIFR           17037 non-null  int64
 72  GDECIFR           7742 non-null   float64
 73  PDECIFR           9295 non-null   float64
 74  ADECIFR           17037 non-null  int64
 75  IPCF              17037 non-null  float64
 76  DECCFR            17037 non-null  int64
 77  IDECCFR           14664 non-null  float64
 78  RDECCFR           17037 non-null  int64
 79  GDECCFR           7742 non-null   float64
 80  PDECCFR           9295 non-null   float64
 81  ADECCFR           17037 non-null  int64
 82  PONDIH            17037 non-null  int64
 83  VII1_1            17037 non-null  int64
 84  VII1_2            17037 non-null  int64
 85  VII2_1            17037 non-null  int64
 86  VII2_2            17037 non-null  int64
 87  VII2_3            17037 non-null  int64
 88  VII2_4            17037 non-null  int64
 89  parentesco        17037 non-null  int64
 90  genero            17037 non-null  int64
 91  edad              17037 non-null  int64
 92  cob_medica        17037 non-null  int64
 93  NIVEL_ED          17037 non-null  int64
 94  CAT_OCUP          17037 non-null  int64
 95  CAT_INAC          17037 non-null  int64
 96  est_pu_pri        17037 non-null  int64
 97  AE_ctrol_ind      17037 non-null  float64
 98  AE_ctrol_ind_sum  17037 non-null  float64
dtypes: float64(9), int64(83), object(7)
memory usage: 12.9+ MB